div.amazing{
    width: 98%;
    height: 295px;
    background-color: #D92F4E;
    margin: 35px auto;
    border-radius: 15px;
}



div.amazing>div.myamazing>div.swiper-wrapper>.swiper-slide{
  width: 160px !important;
  height: 255px;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transform: translateY(20px);
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  img{
  width: 132px;
  height: 132px;
  }
  h3{
    height: 35px;
    font-size: 11px;
    color: #6b727e;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

div.see-all{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  p{
    color: white;
    font-size: 12px;
    transform: translateY(10px);
    padding-left: 5px;
  }
}

.amrow{
  transform: translateY(7.3px) !important;
}

div.amazing>div.myamazing>div.swiper-wrapper>.swiper-slide:nth-child(1){
  background-color: #D92F4E;
}

div.price{
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;

  span.value{
    width: 100%;
    font-size: 13px;
    font-weight: bold;
    transform: translateX(-20px);
  }
  span.percent{
    font-size: 12px;
    color: white;
    background-color:  #D32F2F;
    border-radius: 30px;
    padding: 5px;
    box-sizing: border-box;
    transform: translateX(-10px);
  }
}
span.old-price{
  font-size: 12px;
  color: #CCCDD0;
  text-decoration: line-through;
  transform: translate(-37px , -10px);
}

div.circle-amaze{
  width: 40px;
  height: 40px;
  border: 2px solid #19BFD3;
  border-radius: 50%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  transform: translateY(-20px);
  svg{
    transform: translate(1.5px , 8px);
  }

  p{
    transform: translateY(40px);
    font-size: 14px;
    white-space: nowrap;
  }
}