div.best-selling{
    width: 100%;
    border: 2px solid #E0E0E2;
    border-radius: 20px;

    div.sell-titlle{
        width: 100%;
        height: 100px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        svg{
            padding-left: 7px;
            box-sizing: border-box;
            font-size: 20px;
        }
       p{

        font-size: 20px;

       }
    }
}
p.smore{
    transform: translate(-450px , -10px);
    font-size: 15px !important;
    color: #19BFD3;
}

div.bestsell{
    
    div.swiper-wrapper{
    
    div.swiper-slide{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        img{
        width: 86px;
        height: 86px;
        padding-left: 1px;
        box-sizing: border-box;
        }
        span.number{
            font-size: 30px;
            color: #19bfd3;
            font-weight: bold;
            transform: translateX(-10px);
        }
    }


    }
}
div.grow{
    height: 119px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #E0E0E2;
    font-size: 12px;
    padding-right: 20px;
    padding-left: 6px;
    box-sizing: border-box;
}