div.under-supermarket{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 8px;
    box-sizing: border-box;
    img{
        width: 320px;
        border-radius: 25px;
        cursor: pointer;
    }
}